body #accordion-section-theme_upsell h3 {
    border-left: 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #6540ff;
    background-image: -moz-linear-gradient(-4deg, #8828ff 28%, #4456ff 81%, #0084ff 100%) !important;
    background-image: -webkit-linear-gradient(-4deg, #8828ff 28%, #4456ff 81%, #0084ff 100%) !important;
    background-image: -ms-linear-gradient(-4deg, #8828ff 28%, #4456ff 81%, #0084ff 100%) !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    color: #fff !important;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
}

body .control-section-upsell .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    border-color: #03A9F4;
    background-color: #03A9F4;
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

body .control-section-upsell .accordion-section-title .button:hover {
    background-color: #50e3c2;
    border-color: #50e3c2;
}

body #accordion-section-theme_upsell {
    display: block !important;
}