.notice.idyllic-notice {
    text-align: center;
    padding: 20px;
    position: relative;
}

.notice-links {
    background-color: #00b200;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 3px;
}

.notice-links:hover {
    color: #fff;
}