

.woocommerce div.product .woocommerce-tabs .panel {
  padding: 5px 5px;
}

.woocommerce ul.product_list_widget, .woocommerce.widget_rating_filter ul {
  padding-left: 10px;
  padding-right: 10px;
}

.single-product .product_meta span {
  clear: both;
  display: block;
  font-style: italic;
  padding-top: 5px;
}

.single-product .product_meta span a {
  letter-spacing: 0.5px;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  width: 63px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
   padding: 10px;
}

.woobreadcrumbdelimiter {
  font-size: 10px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  padding: 1em 1em 14px 10px;
}

.woocommerce div.product {
  margin-top: 24px;
}

.woocommerce .left-content h1.page-title {
  border-left: 3px solid;
  padding: 9px 14px;
}

.coupon #coupon_code {
  height: 31px;
  width: 143px;
}

.related ul.products li  {
  clear: none  !important;
  margin: 0 2% 2.992em 0 !important;
}

table.variations .label {
  color: #565656;
  position: relative;
  top: 10px;
}

.single_variation_wrap .quantity .input-text, .cart .quantity .input-text {
  padding: 5px;
  width: 64px;
}

.widget_sidebar_main.widget_price_filter form {
  padding: 0px 10px;
}

.widget_sidebar_main.widget_shopping_cart .woocommerce-mini-cart__total, .widget_sidebar_main.widget_shopping_cart .woocommerce-mini-cart__buttons {
  padding: 0px 10px;
}

.woocommerce .woocommerce-breadcrumb {
	padding: 0.5rem 0.7rem;
	margin: 0px;
	font-size: 80%;
	color: #757575;
}

.woocommerce .woocommerce-breadcrumb a::after {
  content: "\f101" !important;
  font-family: fontawesome !important;
  color: #757575 !important;
  padding: 0px 0.5rem;
}

.single-product.woocommerce.woocommerce-page .sku_wrapper small.sku {
  font-size: 14px;
}

.woocommerce-cart.woocommerce-page .woocommerce .return-to-shop .button.wc-backward::before {
  font-family: fontawesome;
  content: "\f112";
  padding-right: 2px;
}

.woocommerce div.product form.cart .variations tr:first-child td.label {
  padding-top: 4px;
}

.woocommerce div.product form.cart .variations td.label {
  width: 20%;
}

.woocommerce div.product form.cart .variations select {
  border: 1px solid #dfdfdf;
  padding: 5px 4px;
}

.woocommerce div.product form.cart .variations .reset_variations {
  clear: both;
  border: 1px solid;
  padding: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.woocommerce div.product form.cart .variations .reset_variations::before {
  content: "\f00d";
  font-family: FontAwesome;
  padding-right: 3px;
}

.woocommerce.woocommerce-page.single-product .single_variation_wrap .woocommerce-variation-price {
  margin-bottom: 15px;
}

.woocommerce.woocommerce-page .woocommerce-ordering select.orderby {
  padding: 5px;
  border: 1px dotted #A7A7A7;
  margin: 2px 6px;
  color: #828282;
  background-color: #fbfbfb;
}

.woocommerce.woocommerce-page .woocommerce-result-count {
  font-size: 13px;
  color: #767676;
}

.woocommerce.woocommerce-page.single-product .single_add_to_cart_button {
  padding: 10px 10px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
}

.woocommerce-cart.woocommerce-page .woocommerce .wc-proceed-to-checkout a.checkout-button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.woocommerce-checkout.woocommerce-page .woocommerce .woocommerce-checkout-payment .place-order [name="woocommerce_checkout_place_order"].button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 14px;
}

.woocommerce-account.woocommerce-page .woocommerce .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 10px 10px;
}

.woocommerce-account.woocommerce-page .woocommerce .woocommerce-MyAccount-navigation ul li {
  margin-bottom: 6px;
}

.woocommerce-account.woocommerce-page .woocommerce .woocommerce-MyAccount-navigation ul li a::before {
  content: "\f105";
  margin-right: 4px;
  font-family: fontawesome;
  margin-right: 6px;
}

.woocommerce-account.woocommerce-page .woocommerce .woocommerce-EditAccountForm [name="save_account_details"].button,
.woocommerce-account.woocommerce-page .woocommerce .woocommerce-MyAccount-content [name="save_address"].button {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 13px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  font-size: 1.1em;
}

.woocommerce.single-product #comments {
  padding-bottom: 10px;
}

/* bs 4 fixes */
.woocommerce-page .col-1, .woocommerce-page .col-2 {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.woocommerce-page form.checkout.woocommerce-checkout #customer_details {
  margin-bottom: 10px;
}

.woocommerce-page form.checkout.woocommerce-checkout {
  padding-top: 10px;
}

.woocommerce table.shop_table {
  border-collapse: collapse;
}

.woocommerce-checkout.woocommerce-page .form-row, .woocommerce-account.woocommerce-page .form-row {
  display: block;
}

/* tabs on single products */

.woocommerce div.product .woocommerce-tabs ul.tabs {
  display: block;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  border-color: #eaeaea;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 0px solid #d3ced2;
  background-color: unset;
  border-radius: 0;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border-bottom-right-radius: 0;
  box-shadow: 0 0 0 #ebe9eb;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 2px 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 14px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
