 .customize-section-description-container {
     margin-bottom: 12px;
 }

 /* ul.customize-pane-parent li#accordion-panel-nav_menus:hover{
   background: url(/admin/images/colorway.jpg);
  
 } */

  
 #customize-controls li#accordion-section-nav_menus:hover, 
 {
  color: brown;
 }
/* 
 #customize-theme-controls .customize-pane-child.accordion-section-content {
  padding: 12px;
  margin-top: 120px;
  }
  #customize-theme-controls .customize-pane-child.accordion-section-content, #customize-theme-controls .customize-pane-child.accordion-sub-container {
  display: block;
  overflow-x: hidden;
  margin-top: 120px;
  } */